<ion-view view-title="Añadir Equipo - Iluminación" ng-controller="ClienteEditCtrl" no-drag-right>
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" drag-content="false">
 
 <div class="list card">

<form name="formulario" ng-controller="AnadirEquipoFormCtrl" novalidate>

<input type="hidden"  ng-model="btu" ng-init="btu=''" />

<input type="hidden" ng-model="temperatura" ng-init="temperatura=''" />

<input type="hidden" ng-model="marca" ng-init="marca=''" />

<label class="item item-input item-stacked-label">
  <i class="icon ion-ios-home"></i>
    <span class="input-label">Categoría</span>
    <input type="text" ng-model="cat" ng-init="cat='Iluminacion'" readonly>
  </label>

  <label class="item item-input item-stacked-label">
  <i class="icon ion-ios-home"></i>
    <span class="input-label">Equipo:</span>
    <input type="text" ng-model="equipo" placeholder="Ej: Lámpara, Spot, Bombillo, Reflector, etc..." >
  </label>

   <label class="item item-input item-select">
  <i class="icon ion-android-funnel"></i>
     <span class="input-label">Tipo:</span>
    <select ng-model="tipo">
            <option value="">Seleccione</option>
            <option value="Incandescente">Incandescente</option>
            <option value="Fluorescente">Fluorescente</option>
            <option value="Led">Led</option>
    </select><a class="ion-close-round" style="color:#d32f2f;" ng-show="formulario.type.$error.required && !formulario.type.$pristine"></a>
  </label>

  <label class="item item-input item-stacked-label">
  <i class="icon ion-ios-home"></i>
    <span class="input-label">Ubicación:</span>
    <input type="text"  ng-model="area" placeholder="Ej: Sala, comerdor, cocina, etc..." >
  </label>

<label class="item item-input item-stacked-label">
  <i class="icon ion-ios-pulse-strong"></i>
    <span class="input-label">Potencia Medida:</span>
    <input type="text" ng-model="consumo_ritems" placeholder="" >
  </label>

    <label class="item item-input item-stacked-label">
  <i class="icon ion-clock"></i>
    <span class="input-label">Horas de uso diario:</span>
    <input type="number" ng-model="horas_ritems" min="0" max="24" placeholder="Horas de consumo." >
  </label>

  <label class="item item-input item-stacked-label">
  <i class="icon ion-ios-calendar"></i>
    <span class="input-label">Cantidad de días de uso al mes:</span>
    <input type="number" ng-model="dias" min="1" max="31" placeholder="Días de consumo." >
  </label>

   <label class="item item-input item-stacked-label">
  <i class="icon ion-compose"></i>
    <span class="input-label">Notas:</span>
   <textarea type="text" ng-model="notas" placeholder="Ej: Requiere mantenimiento y servicios..."></textarea>
  </label>

   <label class="item item-input item-stacked-label">
  <i class="icon ion-ios-book-outline"></i>
    <span class="input-label">Recomendaciones</span>
    <TEXTAREA type="text" ng-model="recomendaciones" placeholder="Ej: Requiere sistema de termostato..."></TEXTAREA>
  </label>
   
  <button class="button button-block button-calm" ng-disabled="formulario.$invalid" ng-click="registerequipo()">Registrar</button>
  
</form>
</div>  

    </ion-content>
</ion-view>
